@import url('base.css');
@import url('skeleton.css');
@import url('layout.css');

@font-face {
    font-family: 'roccaregular';
    src: url('../fonts/rocca-webfont.eot');
    src: url('../fonts/rocca-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rocca-webfont.woff') format('woff'),
         url('../fonts/rocca-webfont.ttf') format('truetype'),
         url('../fonts/rocca-webfont.svg#roccaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CubanoRegular';
    src: url('../fonts/cubano-regular-webfont.eot');
    src: url('../fonts/cubano-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cubano-regular-webfont.woff') format('woff'),
         url('../fonts/cubano-regular-webfont.ttf') format('truetype'),
         url('../fonts/cubano-regular-webfont.svg#CubanoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body { background-color: #69c9f0; font-size: 16px; font-family: 'CubanoRegular', helvetica, sans-serif; }
h3 { font-family: 'roccaregular', Verdana, sans-serif; font-size: 3.5em; color: white; margin: auto; text-align: center;}
p { text-align: justify }
nav { background-color: #ff9c00; text-align: center; width: 100% }
nav ul { margin-bottom: 0; }
nav ul li {display: inline-block; font-family: 'CubanoRegular', Verdana, sans-serif; font-size: 2em; margin: .5em 1.2em; }
nav a, nav a:hover, nav a:active, nav a:visited { color: white; text-decoration: none; line-height: 1em }
nav a:hover { text-shadow: 2px 2px 2px #ce6300; }
header { text-align: center; max-width: 960px }
header h1 { max-width: 533px; height: 285px; text-indent: -9999px; background: url(../images/logo_on_white.png) no-repeat; background-size: 100% auto; margin: 2em auto 0; }
header h2 { font-family: 'roccaregular', Verdana, sans-serif; font-size: 2.7em; color: #310000; margin: 1em auto }
header h3 { font-family: 'CubanoRegular'; color: #ce6300; font-size: 2.0em; }
.container.sunny { width: 100%; background-color: #ffcc33; text-align: center; padding-bottom: 8em }
.container.sunny .columns { float: none; display: inline-block; margin-left: auto; margin-right: auto; }
#horses { background: url(../images/horses.png) no-repeat; background-size: 100% auto;  margin: 0 auto; max-width: 700px; height: 313px; position: relative; top: 110px; }
.water { padding: 10em 0;}
.container #sponsors, .container #venue, .container #speakers { margin: 2em auto 1em; }
#sponsors{ background: url(../images/bg_wings1.png) no-repeat center center; max-width: 451px; height: 181px; background-size: 90%; line-height: 4.7em; color: #EC2024 }
.sponsors section { margin-bottom: 4em }
#venue { background: url(../images/bg_wings2.png) no-repeat center center; max-width: 505px; height: 118px; background-size: 90%; color: #006699; line-height: 2.2em }
.venue section { text-align: center; }
.venue section h3 { font-family: 'CubanoRegular'; font-size: 2em; }
.venue section h3 a { text-decoration: none; }
.venue section p { text-align: left }
.venue .address { position: relative; background: #fc3; color: black; padding: 5px; }
.venue .address:after { right: 100%; top: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(0, 102, 153, 0); border-right-color: #fc3; border-width: 26px; margin-top: -26px; }
.venue section p.small {font-size: 0.6em; font-family: Helvetica, Arial, Verdana, sans-serif }
.venue .details { font-family: Helvetica, Arial, Verdana, sans-serif; font-size: 1em}
.venue .details p {text-align: center; }
#speakers{ background: url(../images/bg_wings3.png) no-repeat center center; max-width: 541px; height: 171px; background-size: 95%; line-height: 4.5em; }
.speakers .speaker, .sponsors section, .venue section { padding: 0 0 2em; text-align: center; font-size: 1.4em;  text-shadow: none;}
.speakers .speaker img { height: 200px; width: 200px; border: 0; border-radius: 200px; margin-bottom: 20px }
.speakers .speaker .name{display: block;}
.speakers .speaker .caption{display: block; font-size: 0.6em; font-family: Helvetica, Verdana, sans-serif; font-weight: bold; color: #069; text-transform: uppercase;}
.speakers .speaker a {display: block; text-decoration:none;}
.speakers .speaker p, .sponsors p { font-family: Helvetica, Verdana, sans-serif; font-size: 0.7em; display: block; padding: 0 5px }
.sponsors p { font-weight: bold }
.speakers .speaker p a {display: inline; text-decoration: underline}
#call4proposals { min-height: 200px; padding: 5em 0; }
#call4proposals h3 { max-width: 360px; line-height: 0.9em; text-indent: -9999px; background: url(../images/call4proposals.png) no-repeat center center; height: 131px; background-size: 90%; }
#call4proposals p { margin-top: 1em; font-size: 1.7em; line-height: 1em; text-align: center }
#codeofconduct { background: #fffaaa; color: #f93; }
#codeofconduct h3{ margin-bottom: 0.5em; color: #f93; padding-top: 1em }
#codeofconduct p { margin: 2em }

footer.container { text-align: center; margin: 15em auto;}
footer, footer a, footer a:visited { color: #069;}
footer a#aelogica_logo{ text-indent: -9999px; background: url(../images/logo_aelogica.png) no-repeat; width: 118px; height: 20px; display: inline-block; }
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (-webkit-min-device-pixel-ratio: 1){
}
@media screen and (max-width: 767px) {
  .venue p { margin-top: 20px }
  .venue .address { text-align: center; }
  .venue .address:after { margin-top: 0; border-width: 0 }
}
@media screen and (max-width: 500px) {
  header h1 { height: 165px; }
  #horses { display: none; }
  .container.sunny { padding-bottom: 20em }
  .water { padding: 0; }
  #sponsors {
    font-size: 2.2em;
    line-height: 6.7em;
  }
  #venue { font-size: 2.2em; line-height: 3.5em }
  #speakers { font-size: 2.2em; line-height: 6.2em; background-size: 100% }
  #codeofconduct h3 { line-height: 1em }
}
