!!!
%html{lang: "en"}
  {% include head.html %}

  %body
    {% include nav.html %}
    .main-container
      {% include splash.html %}
    .content-wrapper
      {% include location.html %}
      {% include about.html %}
    -#   {% include email_form.html %}
    -#   {% include speakers.html %}
    -#   {% include schedule.html %}
    -#   {% include sponsors.html %}
    -#   {% include footer.html %}
