<div class='header'>
  <a class='menu-link active' href='#menu' id='menuLink'>
    <!-- Hamburger icon -->
    <i class='fa fa-bars'></i>
  </a>
  <div class='home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed'>
    <ul>
      <li>
        <a href='#'>
          <i class='fa fa-circle'></i>
          Home
        </a>
      </li>
      <li>
        <a href='#location'>
          <i class='fa fa-circle'></i>
          Location
        </a>
      </li>
      <li>
        <a href='#speakers'>
          <i class='fa fa-circle'></i>
          Speakers
        </a>
      </li>
      <li>
        <a href='#schedule'>
          <i class='fa fa-circle'></i>
          Schedule
        </a>
      </li>
      <li>
        <a href='#about'>
          <i class='fa fa-circle'></i>
          About
        </a>
      </li>
      <li>
        <a href='http://rubyconf.ph/2015' target='_blank'>
          <i class='fa fa-circle'></i>
          2015
        </a>
      </li>
      <li>
        <a href='https://twitter.com/rubyconfph' target='_blank'>
          <i class='fa fa-twitter'></i>
          Twitter
        </a>
      </li>
    </ul>
  </div>
</div>
