<div class='content' id='speakers'>
  <div class='pure-g'>
    <h2 class='is-center section-header pure-u-1'>Speakers</h2>
    <div class='l-box-lrg pure-u-1'>
      <ul class='pure-g'>
        {% for speaker in site.speakers %}
        <li class='l-box-lrg pure-u-1 pure-u-md-1 pure-u-lg-1-2'>
          <div class='pure-g profile'>
            <p class='pure-u-1 pure-u-md-1-2 pure-u-lg-2-4 is-center'>
              <img alt='{{ speaker.full_name }}' class='pure-img-responsive' src='images/speakers/{{ speaker.image_filename }}'>
              <span class='links is-center pure-u-1'>
                <a class='twitter' href='https://twitter.com/{{ speaker.twitter }}' target='_blank'>
                  <i class='fa fa-twitter fa-2x'></i>
                </a>
                <a class='github' href='https://github.com/{{ speaker.github}}' target='_blank'>
                  <i class='fa fa-github fa-2x'></i>
                </a>
              </span>
            </p>
            <div class='pure-u-1 pure-u-md-1-2 pure-u-lg-2-4'>
              <h3>{{ speaker.full_name }}</h3>
              <p>
                {{ speaker.description }}
              </p>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
