<div class='splash-container'>
  <div class='splash'>
    <p class='splash-subhead'>
      April 7-9, 2016
      <br>
      SMX Convention Center, Taguig
    </p>
    <p>
      Early-Bird Registration is open until January 28, 2016
    </p>
    <p>
      <a class='pure-button pure-button-primary' href='https://www.ticketbase.com/events/rubyconf-philippines-2016' target='_blank'>
        Buy your ticket now!
      </a>
    </p>
    <div class='pure-u-1 pure-u-md-3-5'>
      <form action='//rubyconf.us3.list-manage.com/subscribe/post?u=560469c90999b34f6e8b9a33c&amp;id=683a7bcec1' class='pure-form pure-form-stacked validate' id='mc-embedded-subscribe-form' method='post' name='mc-embedded-subscribe-form' novalidate='' target='_blank'>
        <fieldset>
          <label for='mce-EMAIL'>Your Email</label>
          <input class='email' id='mce-EMAIL' name='EMAIL' placeholder='Enter email for latest news' required='' type='email' value=''>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
          <div style='position: absolute; left: -5000px;'>
            <input name='b_560469c90999b34f6e8b9a33c_683a7bcec1' tabindex='-1' type='text' value=''>
          </div>
          <button class='pure-button' id='mc-embedded-subscribe' name='subscribe' type='submit' value='Subscribe'>Subscribe</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
