$background-mask: rgba(30, 30, 30, 0.2)

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

html
  min-height: 100%

body
  height: 100vh
  line-height: 1.7em
  color: #555
  font-size: 13px
  background: url('../images/rockywall_@2X.png') repeat
  min-height: 100%

.main-container
  width: 100%
  height: 100%
  background-color: $background-mask

h1, h2, h3, h4, h5, h6, label
  color: #5d6357
  // font-family: 'lifes-a-beach', sans-serif

a
  color: #3c72b7
  text-decoration: none

table
  width: 80%

tr
  border-bottom: 1px dotted #5d6357

#twitter-link
  display: block
  position: relative
  z-index: 100
  a
    color: #f9f9f4
    position: fixed
    right: 1em
    top: 0
    &:hover
      color: #d0d2c4

.splash-container
  z-index: 1
  overflow: hidden
  background:
    image: url('../images/logo2016-dropshadow-2.png')
    size: contain
    repeat: no-repeat
    position: 50% 50%
  height: 100vh

.splash
  width: 80%
  margin: auto
  text-align: center
  text-transform: uppercase
  margin-top: 20%

.splash-head
  font-size: 2.5em
  font-weight: bold
  color: white
  font-weight: 100
  border-radius: 5px
  line-height: 1em
  font-family: 'sand', sans-serif
  text-align: center
  text-shadow: 2px 2px 5px rgba(90, 90, 90, 1)

.splash-subhead
  color: #f9f9f4
  font:
    family: 'oswald', sans-serif
    size: 2em
    weight: bold

  letter-spacing: 0.05em
  opacity: 0.8
  line-height: 1.2em
  text-shadow: 2px 2px 5px rgba(90, 90, 90, 1)

.content-wrapper
  background: $background-mask
  padding-top: 1em

.content
  .section-header
    background: $dark-contrast
    box-shadow: 3px 3px 10px 2px #999
    color: $light

    font:
      family: 'jeepney'
      size: 3em
    text-shadow: 2px 2px 5px rgba(90, 90, 90, 0.5)
    line-height: 1
    margin:
      bottom: 0.5em

    .fa
      font-size: 0.5em

  // > .pure-g
  //   border-bottom: 1px dotted #5d6357
  //   box-shadow: 0 10px 6px -6px rgba(90, 90, 90, 0.5)

  ul li
    list-style-type: none

  .l-box-lrg
    padding: 0.5em 2em

.content-head
  font:
    weight: 400
  text-transform: uppercase
  margin: 0
  color: $orange
  text-shadow: 2px 2px 5px rgba($red, 0.3)

  &.content-head-ribbon
    font:
      family: 'oswald', sans-serif

.content-subhead
  color: #1f8dd6
  i
    margin-right: 7px

.ribbon
  background: #2d3e50
  color: #aaa

.footer
  background: #111

.menu-link
  position: fixed
  display: block
  /* show this only on small screens
  top: 0
  left: 0
  /* "#menu width"
  background: rgba(45, 62, 80, 0.5)
  background: rgba(45, 62, 80, 0.5)
  /* font-size: 10px; /* change this value to increase/decrease button size
  z-index: 1000
  padding: 0.5em
  font-size: 1.5em
  color: #fff
  -webkit-transition: all 0.2s ease-out
  -moz-transition: all 0.2s ease-out
  -ms-transition: all 0.2s ease-out
  -o-transition: all 0.2s ease-out
  transition: all 0.2s ease-out

.home-menu
  -webkit-transition: all 0.2s ease-out
  -moz-transition: all 0.2s ease-out
  -ms-transition: all 0.2s ease-out
  -o-transition: all 0.2s ease-out
  transition: all 0.2s ease-out
  &.active li
    width: 100%

#speakers ul
  padding-left: 0
  padding-top: 0

#sponsors h2
  margin:
    top: 0

.team-members, .sponsors
  padding-left: 0
  padding-top: 0
  margin-bottom: 0
  text-align: center
  img
    padding: 0.3em
    background: #fff
    box-shadow: 0 3px 10px #5d6357

.sponsors .description
  text-align: justify

.sponsors br
  margin:
    bottom: 1em

.sponsors.bronze, .sponsors.silver, .sponsors.gold
  li
    margin: auto

.sponsors.tickets a
  margin: auto

.team-member
  display: block

.events
  width: 100%

#schedule
  h3
    font:
      weight: bold
      size: 1.2em
    text-transform: uppercase

.time-break
  text:
    align: center
    transform: uppercase

.talk-description
  margin:
    bottom: 0

.profile
  p
    padding: 0 1em
  h3
    padding: 0 1em
    font-weight: bold
    font-family: 'sand'
    text-transform: uppercase
    font-size: 1em

.links
  text-shadow: 2px 2px 5px rgba(90, 90, 90, 0.3)

.hotel-rates
  clear: both
  border-top: 1px dotted #ccc
  margin: 1em 0
  width: 100%

.venue-description
  p
    padding:
      right: 1em

.header
  background: $background-mask
