.pure-img-responsive
  max-width: 100%
  background: #fff
  padding: 0.3em
  box-shadow: 0 3px 10px #5d6357

.l-box
  padding: 1em

.l-box-lrg
  padding: 2em
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)

.is-center
  text-align: center

.pure-form
  label
    margin: 1em 0 0
    font-weight: bold
    font-size: 100%
  input[type]
    border: 2px solid #ddd
    box-shadow: none
    font-size: 100%
    width: 100%
    margin-bottom: 1em

.pure-button
  background-color: #1f8dd6
  color: white
  padding: 0.5em 2em
  border-radius: 5px

a.pure-button-primary
  background: white
  color: #1f8dd6
  border-radius: 5px
  font-size: 120%
  white-space: normal

.home-menu
  padding: 0 0.5em
  text-align: center
  box-shadow: 0 0 10px 2px $dark-red
  text-transform: uppercase
  color: white
  font-family: 'jeepney'
  font-size: 2em
  margin: auto 10%
  letter-spacing: 1px
  border-radius: 1em
  &.pure-menu-open
    // background: #2d3e50
    // background: rgba(#fff, 0.5)
    background: $red
    width: 80%

  li a
    padding: 5px 3px

  .fa
    font-size: .7em

.pure-menu.pure-menu-open.pure-menu-fixed
  border-bottom: none
  z-index: 4

.home-menu
  .pure-menu-heading
    color: white
    font-weight: 400
  .pure-menu-selected a
    color: white
  a
    color: $light
    &.disabled
      color: #ccc

  li a
    &:hover, &:focus
      background: none
      /* border: none;
      color: $yellow
  &.active
    margin-top: 0
    ul
      margin-top: 2em
  &.pure-menu-horizontal
    &.active li, li
      display: block
