#about.content
  .pure-g
    %h2.is-center.section-header.pure-u-1
      %i.fa.fa-circle
      About
      %i.fa.fa-circle
    .l-box-lrg.pure-u-1
      %h2.content-head.content-head-ribbon.pure-u-1 Code of Conduct
      %p
        Our conference is dedicated to providing a harassment-free conference experience for everyone,
        regardless of gender, sexual orientation, disability, physical appearance, body size, race, or religion.
        We do not tolerate harassment of conference participants in any form.
        Sexual language and imagery is not appropriate for any conference venue,
        including talks, workshops, parties, Twitter and other online media.
        Conference participants violating these rules may be sanctioned or expelled from the conference
        without a refund at the discretion of the conference organisers.
    .l-box-lrg.pure-u-1
      %h2.content-head.content-head-ribbon.pure-u-1 Meet the Team
      %ul.team-members.pure-g
        {% for team_member in site.meet_the_team.rubyists %}
        %li.l-box-lrg.pure-u-1-2.pure-u-md-1-2.pure-u-lg-1-5
          %img.pure-img-responsive{src: "images/team/{{ team_member.image }}"}/
          %span.team-member {{ team_member.name }}
          %span.links.is-center.pure-u-1
            {% if team_member.twitter %}
            %a.twitter{href: "https://twitter.com/{{ team_member.twitter }}", target: "_blank"}
              %i.fa.fa-twitter.fa-2x
            {% endif %}
            {% if team_member.github %}
            %a.github{href: "https://github.com/{{ team_member.github }}", target: "_blank"}
              %i.fa.fa-github.fa-2x
            {% endif %}
        {% endfor %}

      %ul.team-members.pure-g
        {% for team_member in site.meet_the_team.staff %}
        %li.l-box-lrg.pure-u-1-2.pure-u-md-1-2.pure-u-lg-1-5
          %img.pure-img-responsive{src: "images/team/{{ team_member.image }}"}/
          %span.team-member {{ team_member.name }}
        {% endfor %}

