#footer.content
  %p.is-center
    For questions and other concerns, you may email Christopher (
    %a{href: "mailto:crigor@rubyconf.ph"}> crigor@rubyconf.ph
    ) or Sam (
    %a{href: "mailto:samantha@rubyconf.ph"}> samantha@rubyconf.ph
    ).
