%head
  %meta{charset: "utf-8"}/
  %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
  %meta{content: "RubyConf Philippines 2016", name: "description"}/
  %meta{property: 'og:image', content: 'http://rubyconf.ph/images/background.jpg'}
  %meta{property: 'og:title', content: 'RubyConf Philippines 2016 '}
  %meta{property: 'og:description', content: 'April 8-9, 2016 SMX Convention Center, Taguig'}
  %title RubyConf Philippines 2016
  %link{href: "http://yui.yahooapis.com/pure/0.5.0/pure-min.css", rel: "stylesheet"}/
  %link{:href => "https://fonts.googleapis.com/css?family=Oswald", :rel => "stylesheet", :type => "text/css"}/
  /[if lte IE 8]
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
  / [if gt IE 8]><!
  %link{href: "http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css", rel: "stylesheet"}/
  / <![endif]
  /[if lte IE 8]
    <link rel="stylesheet" href="css/marketing-old-ie.css">
  / [if gt IE 8]><!
  %link{href: "css/main.css", rel: "stylesheet"}/
  / <![endif]
  %link{href: "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel: "stylesheet"}/
  %script{src: "http://code.jquery.com/jquery-1.11.0.min.js"}
  %script{src: "js/readmore.min.js"}
  %script{src: "js/main.js"}
