%a{name: 'location'}
.content
  .pure-g
    %h2.is-center.section-header.pure-u-1 Location
    .l-box-lrg.is-center.pure-u-1.pure-u-md-1-2.pure-u-lg-2-5
      %img.pure-img-responsive{alt: "Crown Regency Resort and Convention Center", src: "images/venue.jpg", width: "100%"}/
      %iframe.pure-img-responsive{frameborder: "0", height: "400", src: "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3903.124804435765!2d121.925754!3d11.965860000000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33a53c3d6a680bef%3A0x2302c1bebc58e39a!2sCrown+Regency+Resort+and+Convention+Center!5e0!3m2!1sen!2s!4v1412327304358", style: "border:0", width: "600"}
      %address
        %small
          Boat Station 2, Main Road
          %br/
          Barangay Balabag, Boracay Island
          %br/
          Malay, Aklan 5608
          %br/
    .pure-u-1.pure-u-md-1-2.pure-u-lg-3-5
      %h2.content-head.content-head-ribbon
        Crown Regency Resort and Convention Center
        %br/
        %small Boracay Island
      %p
        %a{href: "http://www.boracay-crownregencyresort.com/", target: "_blank"} The Crown Regency Resort and Convention Center
        in Boracay will be our conference venue and hotel for the 2015 RubyConfPH.
      %p
        Located off Station 2’s Main Road, it is just a few minutes away from the famous White Beach and D’Mall,
        Boracay’s main entertainment and shopping area. Resort facilities include the Boracay Oceanarium, home
        of the world’s largest pearl; the WaveRider, Philippines’ first surfing pool; and
        an aquarium where you can swim like a mermaid.
      %h2.content-head.content-head-ribbon
        How to get there
      %p
        The 2 airports near Boracay Island are Caticlan (MPH) and Kalibo (KLO). Caticlan Jetty Port is 5 minutes away from Caticlan Airport and 80 minutes away from Kalibo Airport.
        From Caticlan Jetty Port, a boat will take you to Boracay Island in 10 minutes.
      %p
        There are a lot of flights from Manila (MNL) to Caticlan and Kalibo.
        = succeed "," do
          %a{href: "https://www.cebupacificair.com/"} Cebu Pacific
        %a{href: "http://www.philippineairlines.com/"} Philippine Airlines
        and
        %a{href: "http://www.flyseair.com/"} Seair
        have flights to both Caticlan and Kalibo.
        %a{href: "http://www.airasia.com/ph/en/home.page"} Air Asia
        flies to Kalibo only.
        %a{href: "http://www.tigerair.com/ph/en/"} Tigerair
        has limited flights from Singapore to Kalibo.
      %p
        Regular flights from Manila to Kalibo are around Php 4,400 roundtrip but the price can go as low as Php 1,800 for promo fares at Cebu Pacific. Philippine Airlines have good prices even to Caticlan. You can mix and match your airlines for the best price.
      %p
        International attendees will need to change in Manila (MNL). Allot 2 hours or more between your flights since you have to check-in again and you might have to transfer to a different terminal.
      %p
        The conference is on Friday and Saturday, welcome drinks on Thursday night (March 26). You're at the beach so consider staying an extra day before and/or after the conference.
