.header
  %a#menuLink.menu-link.active{href: '#menu'}
    / Hamburger icon
    %i.fa.fa-bars
  .home-menu.pure-menu.pure-menu-open.pure-menu-horizontal
    %ul
      %li
        %a{href: '#venue'}
          %i.fa.fa-circle
          Venue
      -# %li
      -#   %a{href: '#speakers'}
      -#     %i.fa.fa-circle
      -#     Speakers
      -# %li
      -#   %a{href: '#schedule'}
      -#     %i.fa.fa-circle
      -#     Schedule
      -# %li
      -#   %a{href: '#sponsors'}
      -#     %i.fa.fa-star
      -#     Sponsors
      %li
        %a{href: '#about'}
          %i.fa.fa-circle
          About
      %li
        %a{href: 'http://rubyconf.ph/2015', target: '_blank'}
          %i.fa.fa-circle
          2015
      %li
        %a{href: 'https://twitter.com/rubyconfph', target: '_blank'}
          %i.fa.fa-twitter
          Twitter
  -# %span#twitter-link
  -#   %a{href: 'https://twitter.com/rubyconfph', target: '_blank'}
  -#     %i.fa.fa-twitter.fa-3x
