#schedule.content
  .pure-g
    %h2.is-center.section-header.pure-u-1 Schedule
    .l-box-lrg.pure-u-1.pure-table-responsive
      {% for day in site.schedule %}
      %h3 {{ day.title }}
      %table.events.pure-table
        {% for event in day.events %}
        %tr
          {% if event.break %}
          %td.time-slot{width: '25%'} {{ event.time }}
          %td.time-break{colspan: 2} {{ event.title }}
          {% else %}
          %td.time-slot{width: '25%'} {{ event.time }}
          %td.talk-details{width: '50%'}
            %span.talk-title {{ event.title }}
            {% if event.description %}
            %p.talk-description
              {{ event.description }}
            {% endif %}
          %td.talk-speaker{width: '25%'} {{ event.speaker }}
          {% endif %}
        {% endfor %}
      {% endfor %}
