.splash-container
  .splash
    %h1.splash-head Rubyconf Philippines
    %p.splash-subhead
      March 27-28, 2015
      %br/
      Boracay Island
    %p
      %a.pure-button.pure-button-primary{:href => "https://www.ticketbase.com/events/rubyconf-philippines-2015", :target => "_blank"}
        Register now!
