.splash-container
  .splash
    -# %h1.splash-head Rubyconf Philippines
    %p.splash-subhead
      April 7-9, 2016
      %br/
      SMX Convention Center, Taguig
    %p
      CFP is now open until Dec 10, 2015
    %p
      %a.pure-button.pure-button-primary{href: '/cfp', target: '_blank'} 
        Submit a proposal
      -# %a.pure-button.pure-button-primary{href: 'https://www.ticketbase.com/events/rubyconf-philippines-2015', target: '_blank'}
      -#   Register now!
    .pure-u-1.pure-u-md-3-5
      %form#mc-embedded-subscribe-form.pure-form.pure-form-stacked.validate{:action => "//rubyconf.us3.list-manage.com/subscribe/post?u=560469c90999b34f6e8b9a33c&id=683a7bcec1", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
        %fieldset
          %label{:for => "mce-EMAIL"} Your Email
          %input#mce-EMAIL.email{:name => "EMAIL", :placeholder => "Enter email for latest news", :required => "", :type => "email", :value => ""}/
          / real people should not fill this in and expect good things - do not remove this or risk form bot signups
          %div{:style => "position: absolute; left: -5000px;"}
            %input{:name => "b_560469c90999b34f6e8b9a33c_683a7bcec1", :tabindex => "-1", :type => "text", :value => ""}/
          %button#mc-embedded-subscribe.pure-button{:name => "subscribe", :type => "submit", :value => "Subscribe"} Subscribe
