.splash-container
  .splash
    %h1.splash-head Rubyconf Philippines
    %p.splash-subhead
      March 27-28, 2015
      %br/
      Boracay Island
    %p
      %a.pure-button.pure-button-primary{:href => "https://rubyconfph.wufoo.eu/forms/rubyconf-philippines-2015-call-for-proposals/", :target => "_blank"}
        CFP is now open until Dec 4, 2014.
        = succeed "Click" do
          %br/
