.splash-container
  .splash
    -# %h1.splash-head Rubyconf Philippines
    %p.splash-subhead
      April 8-9, 2016
      %br/
      SMX Convention Center, Taguig
    -# %p
    -#   %a.pure-button.pure-button-primary{:href => "https://www.ticketbase.com/events/rubyconf-philippines-2015", :target => "_blank"}
    -#     Register now!
