#sponsors.content
  .pure-g
    %h2.is-center.section-header.pure-u-1 Sponsors

    .l-box-lrg.pure-u-1
      %h2.is-center.content-head-ribbon Gold
      %ul.sponsors.gold.pure-g
        {% for sponsor in site.sponsors.gold %}
        %li.l-box-lrg.pure-u-1-2.pure-u-md-1-2.pure-u-lg-2-4
          %img.pure-img-responsive{src: "images/sponsors/gold/{{ sponsor.image }}"}/
          .description
            {{ sponsor.description }}
        {% endfor %}

    .l-box-lrg.pure-u-1
      %h2.is-center.content-head-ribbon Silver
      %ul.sponsors.silver.pure-g
        {% for sponsor in site.sponsors.silver %}
        %li.l-box-lrg.pure-u-1-2.pure-u-md-1-2.pure-u-lg-1-3
          %img.pure-img-responsive{src: "images/sponsors/silver/{{ sponsor.image }}"}/
          .description
            {{ sponsor.description }}
        {% endfor %}

    .l-box-lrg.pure-u-1
      %h2.is-center.content-head-ribbon Bronze
      %ul.sponsors.bronze.pure-g
        {% for sponsor in site.sponsors.bronze %}
        %li.l-box-lrg.pure-u-1-2.pure-u-md-1-2.pure-u-lg-1-5
          %img.pure-img-responsive{src: "images/sponsors/bronze/{{ sponsor.image }}"}/
        {% endfor %}

    .l-box-lrg.pure-u-1
      %p.sponsors.tickets.pure-g
        %span.pure-u-1 Powered by:
        %img.pure-img-responsive{src: "images/sponsors/tickets/{{ site.sponsors.tickets.image }}"}/
